/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

body {
    font-family: Arial, Verdana,  sans-serif; /* Семейство шрифтов */
    font-size: 11pt; /* Размер основного шрифта в пунктах  */
    background-color: #f0f0f0; /* Цвет фона веб-страницы */
    color: #333; /* Цвет основного текста */ 
  }
  h1 {

font-family: Aldrich;
font-style: normal;
font-weight: normal;
font-size: 117px;
line-height: 145.16%;
/* or 170px */

text-align: center;
letter-spacing: 0.175em;

color: #000000;

border: 1px solid #000000;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  p {
    font-family: Aldrich;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 162.16%;
    /* or 49px */
    
    letter-spacing: 0.14em;
    
    color: #000000;
  }
  h2{
  
    
    font-family: Aldrich;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 118.66%;
    /* or 59px */
    
    text-align: center;
    letter-spacing: 0.085em;
    
    color: #E58900;
    
  }