.input {
    display: flex;
    justify-content: center;
}

.container {
    margin: 200px;
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

TABLE {
    margin-top: -100px;
    width: 3000px;
    height: 400px;
    border-collapse: collapse;
}

TD,
TH {
    padding: 3px;
    border: 1px solid black;
}

TH {
    background: hsla(272, 30%, 24%, 0.541);
color: #fff;}

li {
    list-style: none;
  }
  a, u {
    color: #fff;
    text-decoration: none;
  }
  
  ul {
    color: #fff;
    display:flex;
    justify-content: space-between;
    padding: 0;
  }
html{
    font-family: "Montserrat", sans-serif;

}
header{
    text-align: justify;
    letter-spacing: 1px;
    padding: 2em 10%;
    background: hsl(273, 30%, 24%);
    color: #fff;
    height: auto;
}
body {background: hsla(272, 30%, 24%, 0.322);}
h1,h2{
    color:hsl(273, 30%, 24%) ;
}
input[type=button] {
    color: #ffffff;
    padding-top: 9px;
    padding-bottom: 9px;
    margin-left: 29px;
    padding-left: 29px;
    padding-right: 29px;
    border: none;
    background: hsla(272, 30%, 24%, 0.322);
    border-radius: 20px;
  }
article {
    background-color: hsla(271, 30%, 24%, 0.158) ;
    padding: 10px 100px;
    margin: 0px 150px;
    border-radius: 3px;
    margin-bottom: 10px;
    position: relative;
  }
span{
    color:hsl(271, 30%, 24%)
}
span a{
    color: #fff;
}