<header>
    <nav>
        <ul>
            <li><a href="/books">книги</a></li>
            <li><a href="/readers">читатели</a></li>
          <li><a href="/return">вернуть книгу</a></li>
          <li><a href="/addBook">добавить книгу</a></li>
          <li><a href="/addCopys">добавить экземпляры</a></li>
          <li><a href="/addReader">внести читателя</a></li>
          <li><a href="/giveBook">выдать книгу</a></li>
        </ul>
      </nav>
</header>